.home-main {
  /* margin: auto;
  width: 80%;
  background-color: red; */
  .side-bar-main {
    background-color: #e4e4c5;
    border: none;
    height: 150px;
  }
  .right-side {
    background-color: #e4e4c5;
    border: none;
    padding: 10px;
    h3 {
      /* font-size: 1.5rem; */
      font-weight: 300;
    }
    .top-content {
      background-color: white;
      border-radius: 5px;
    }
    .bottom-content {
      background-color: white;
      border-radius: 5px;
      .form-control {
        display: block;
        width: fit-content;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: var(--bs-body-color);
        appearance: none;
        background-color: var(--bs-body-bg);
        background-clip: padding-box;
        border: var(--bs-border-width) solid var(--bs-border-color);
        border-radius: var(--bs-border-radius);
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }
      .submit {
        margin-bottom: 10px;
      }
    }
  }
}
label {
  font-weight: bold;
  font-size: 0.8rem;
}
.login-again {
  border-radius: 6px;
  font-size: 18px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #c1f46b;
  background-size: 100%;
  background-image: linear-gradient(
    #ffffff,
    #dbe9c3 10%,
    #b2d080 50%,
    #accc75 50%,
    #c2da9a
  );
  border-color: #97bf53;
  text-shadow: #dff9b2 0px 1px 1px;
  box-shadow: rgba(255, 255, 255, 0.68824) 0 0 0.1em 1px inset;
  background-clip: padding-box;
}
.Click-here{
  cursor: pointer;
}